<div>
  <h1>New post</h1>
  <div>
    <img src="<%= @user.photo %>>" alt="<%= @user.name %>>">
    <h1><%= @user.name %></h1>
  </div>

  <div>
    <%= form_with model: @post, url: user_posts_path  do |form| %>
      <div>
        <%= form.label :title, "Title: " %>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.label :text, "Text: " %>
        <%= form.text_field :text %>
      </div>
      <div>
        <%= form.submit 'Submit Post' %>
      </div>
    <% end %>
  </div>
</div>
